body {
  background-color: CCE5FF;
}

.form {
  width: 100%;
}


.content {
  width:650px;
  padding: 5px 5px;
}

.header {
  background-color:  'white';
  height: 20pt;
  margin: 0px 0;
  font-family: 'Helvetica';
  font-size: 11pt;
  float: right;
}

.bigtitle{
  font-size: 50px;
}

.title, .bigtitle {
  font-family: 'Helvetica';
  font-size: 16pt;
  font-weight: bold;
}


.button {
  justify-content: center;
  margin-left: 15px;
  cursor: pointer;
  background-color: darkgrey;
  width:200px;
  height: 20pt;
  text-align:center;
  border: none;
  padding: 4px 10px;
}

.button:hover{
    background-color: #dbdbdb;
}

.toevoegbutton {
    width:99%;
    margin-left: 0px;
}

.medewerkers_input {
  background-color:  'white';
  height: 20pt;
  margin: 0px 0;
  font-family: 'Helvetica';
  font-size: 11pt;
}

.medewerkers_input_id {
  background-color:  #CCE5FF;
  width: 20pt;
  height: 20pt;
  border: 0px;
}
